body input,
body select {
  --input-font-size: var(--chakra-fontSizes-sm) !important;
}

.chakra-tooltip {
  font-size: var(--chakra-fontSizes-xs) !important;
}

.graph-table {
  .ant-pro-card-body {
    padding: 0;
  }
  .ant-pro-card {
    background-color: transparent;
  }
}
